# General Application Settings
APP_NAME=Jeje Harapan Wiki
APP_ENV=production

# Application Port (Set to expose site via direct IP:PORT e.g. 8080; leave empty/null for SITE_URL proxy access only)
APP_PORT=

# Site Configuration
SITE_NAME=Jeje Harapan Transindo Wiki
SITE_URL=https://wiki.jejeharapan.com

# Coolify Specific Configuration
COOLIFY_CONTAINER_NAME=jeje-harapan-wiki-app
